<% include ../partials/header.ejs %>

    <style>
        .searchVertical {
            margin-top: -50px;
            margin-bottom: 20px;
        }
    </style>

    <div class="container p-3 p-md-5 text-white rounded bg-dark" style="margin-bottom: 8rem;">
        <div class="jumbotron bg-dark">
            <div class="col-md-6 px-4">
                <h1 class="display-4 font-italic"> Book Selling/Exchanging </h1>
                <p class="lead my-3"> Fuera lo viejo, venga lo nuevo </p>
                <button type="button" class="btn btn-outline-info"> <a href="/books/new"> Sell/Exchange Book </button></a>
            </div>
        </div>
    </div>
    <div class="container text-center searchVertical">
        <div class="container">
            <form action="/books" method="GET" class="form-inline">
                <div class="form-group">
                    <input style="width: 22em" type="text" name="search" placeholder="Search Book Title..." class="form-control">
                    <input type="submit" value="Search" class="btn btn default">
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- CODE IN CASE USER'S SEARCH RETUNRS NO MATCH -->
            <div class="col-md-16">
                <% if(noMatch !== null) { %>
                    <h3>
                        <%= noMatch %>
                    </h3>
                    <% } %>
            </div>

            <% bookList.forEach(function(newlyCreatedBook){ %>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card mb-2" style="width: 360px; display: flex; flex-wrap: wrap; margin-bottom: 30px;">
                        <div>
                            <img class="card-img-top img-fluid max-width: 80% height: auto" src=" <%=newlyCreatedBook.bookImage%> ">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><i><%= newlyCreatedBook.bookAuthor%> </i> </h5>
                            <h4>
                                <%= newlyCreatedBook.bookName %>
                            </h4>
                            <p class="card-text">
                                <%= newlyCreatedBook.bookFavoritePart %>
                            </p>
                            <a href="/books/<%=newlyCreatedBook._id%>" class="btn btn-sm btn-info stretched-link"> View </a>
                        </div>
                    </div>
                </div>
                <% });  %>
        </div>
    </div>

    <% include ../partials/footer.ejs %>